.refresh-button {
    position: sticky;
    left: 50px;
    transform: translateY(-80px);
    z-index: 1;
    min-width: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: .02em;
    background: #1E90FFAA;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white;
    opacity: 1;
    transition: opacity 250ms ease, background-color 250ms ease, color 250ms ease, transform 400ms cubic-bezier(.42,1.6,.94,1.21);
}

.refresh-button:hover {
    background-color: #1E90FFFF;
    color: white;
}

#board {
    position: relative;
}

#board:not(.filtering) .refresh-button {
    transform: translateY(100px);
    opacity: 0;
}
