.refresh-button {
    z-index: 1;
    min-width: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .02em;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    background-color: rgba(30, 144, 255, 0.8);
    color: white;
    opacity: 1;
    transition: all 300ms ease-in-out;
    position: sticky;
    left: 50px;
    backdrop-filter: blur(4px);
    transform: translateY(-80px);
}

.refresh-button:hover {
    background-color: rgba(30, 144, 255, 1);
}

#board:not(.filtering) .refresh-button {
    opacity: 0;
    transform: translateY(100px);
}
